.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;   
}

.formula {
	border: none;
}

.index {
	width: 70;
	border: none;
	text-align: right;
}

.icon {
    font-family: Courier New, Courier, monospace;
    font-size: x-small;
    height: 20;
    width: 20;
    border: none;
}

td {
	border: 1px solid LightGray;
}

td.selected {
	border: 2px solid black;
}

td.header {
	background-color: LightGray;
	border: 1px solid gray;
}

h2 { text-align: center; }